<!doctype html>
<html>
    <head>
        <title>
            signed up
        </title>
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/public/css/index.css">
    </head>
    <body>
        <h1 id="succ-signup">YOU HAVE SUCCESSFULLY SIGNED UP TO SHARED SPACES</h1>
        <h2 id="a-tag">PLEASE CLICK THE FOLLOWING LINK TO <a href="http://http://localhost:8080/public/index.html">LOGIN</a></h2>
    </body>
</html>